<a href="https://colab.research.google.com/github/bartosz-bicki/Data_visualization/blob/master/Sales_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 

data_file = pd.read_csv('sales.csv')

In [ ]:
df = data_file.copy()
df.info()

In [3]:
df = df.drop(columns=['title', 'currency_buyer', 'uses_ad_boosts','rating_four_count', 'rating_three_count', 'rating_two_count', 'rating_one_count', 'badges_count', 'badge_local_product', 'badge_product_quality', 'badge_fast_shipping', 'tags', 'shipping_is_express', 'has_urgency_banner', 'urgency_text', 'merchant_title', 'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating', 'merchant_has_profile_picture', 'merchant_profile_picture', 'product_url', 'product_picture', 'product_id', 'theme', 'crawl_month','merchant_id' ])

In [4]:
df.head()

                                          title_orig  ...  merchant_name
0  2020 Summer Vintage Flamingo Print  Pajamas Se...  ...       zgrdejia
1   Women's Casual Summer Sleeveless Sexy Mini Dress  ...      sarahouse
2  2020 New Arrival Women Spring and Summer Beach...  ...         hxt520
3  Hot Summer Cool T Shirt for Women Fashion Tops...  ...       allenfan
4  Women Summer Shorts Lace Up Elastic Waistband ...  ...    happyhorses

[5 rows x 16 columns]

In [16]:
import plotly.express as px
df_grouped_color = df.groupby('product_color').sum()

In [ ]:
fig = px.bar(df_grouped_color, x=df_grouped_color.index, y='units_sold',
             labels={'units_sold': 'Sold products'})
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')

In [ ]:
#df_grouped_ship_method = df.groupby('shipping_option_name').sum()
f = df.shipping_option_name.value_counts()

In [ ]:
fig = px.pie(df, values=f, names=f.index,
             title='Shipping Methods')
fig

In [7]:
df_mean = df.groupby('merchant_name').mean()
df['total_earnings'] = df.units_sold*df.price
df_sum = df.groupby('merchant_name').sum()

dff = pd.DataFrame(data={'rating' : df_mean.rating.mean(),
                         'rating_count' : df_sum.rating_count,
                         'total_earn': df_sum.total_earnings, 
                          'company_name': df_mean.index})

In [9]:
fig = px.scatter(dff, x='rating', y='rating_count',
                 size='rating', color='rating',
                 hover_name=dff.index, log_x=True, size_max=30)

In [ ]:
fig = px.bar(dff, x='company_name', y='total_earn',
             hover_name='rating', title='Total earning by every Company',
             labels={'total_earn': 'Earnings', 'company_name': 'Company name' })
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig